:root {
  font-size: 18px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, input, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  background-image: url(./images/pattern-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto 13rem;
}

.hidden {
  display: none;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

main h1 {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.25rem;
  color: #f0f0f0;
}

main .ip-field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.5rem;
  border-radius: 1rem;
}

main .ip-field * {
  padding: 0;
  border: 0;
}

main .ip-field input {
  width: Min(31rem, 100%);
  height: 100%;
  border-radius: .7rem 0 0 .7rem;
  padding-left: 1rem;
  font-size: Min(4vw, 1rem);
}

main .ip-field input:hover {
  cursor: pointer;
}

main .ip-field input:focus {
  outline: 0;
}

main .ip-field button {
  width: 3rem;
  height: 100%;
  background-color: black;
  border-radius: 0 .7rem .7rem 0;
}

main .ip-field button img {
  height: 30%;
}

main .ip-field button:hover {
  cursor: pointer;
  background-color: #2b2b2b;
}

main .hero {
  width: Min(100%, 400px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 1.5rem 0;
  background-color: white;
  border: 1px solid red;
  border-radius: 1rem;
}

main .hero div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  gap: .25rem;
  font-weight: 700;
}

main .hero div .label {
  font-size: .5rem;
  letter-spacing: .08rem;
  text-transform: uppercase;
  color: #969696;
}

@media screen and (min-width: 46rem) {
  main h1 {
    font-size: 1.5rem;
  }
  main .hero {
    width: Clamp(735px, 80vw, 1440px);
    height: 8rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: Min(1.5rem, 2.5vw);
  }
  main .hero div {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 60%;
    font-weight: 500;
  }
  main .hero div .label {
    font-size: .65rem;
  }
  main .hero .desktop-spacer {
    display: block;
    padding: 0;
    width: 1px;
    height: 80%;
    background-color: #969696;
  }
}

@media screen and (min-width: 80rem) {
  body {
    background-size: 100% 13rem;
  }
}
/*# sourceMappingURL=index.css.map */